<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTa_A7TUInkzhGBBjXa6dShDDHOrtT4f8</string>
	<key>GCM_SENDER_ID</key>
	<string>191093454352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hourglass.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hourglass-bcaba</string>
	<key>STORAGE_BUCKET</key>
	<string>hourglass-bcaba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191093454352:ios:355acb4cad824a39b4fc95</string>
</dict>
</plist>